key "{{ def_domain }}." {
  algorithm hmac-md5;
  secret "HaHWf0eOY5W/RHfNfLGI92pcsh2ce2YTuciOElDaPFxGDG2uh3jCC779zjxhrc63PYoo4nuLl3xsH7LjmijOWw==";
};

zone "{{ def_domain }}" {
        type master;
        file "/var/named/dynamic/{{ def_domain }}.zone";
        allow-update { key "{{ def_domain }}."; };
};

