; {{ ansible_managed }}
$ORIGIN .
$TTL 86400	; 1 day
{{ def_domain }}		IN SOA	{{ def_domain }}. adrian.{{ def_domain  }}. (
				2019031202 ; serial
				28800      ; refresh (8 hours)
				7200       ; retry (2 hours)
				864000     ; expire (1 week 3 days)
				86400      ; minimum (1 day)
				)
			NS	ns1.{{ def_domain }}.
$ORIGIN adrians.tld.
ns1	A	{{ dhcp_server_range_nameserver }}
