# System authorization information
auth --enableshadow --passalgo=sha512

#source of packages
url --url http://{{ server_address }}/pub/repos/centos7

# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=de-nodeadkeys --xlayouts='de (nodeadkeys)'
# System language
lang en_GB.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname={{ vm_name }}.{{ def_domain }}

# Root password
rootpw --iscrypted $6$juyYlviEDm3jDKJO$GkFbvw13zYipZMiO4qQIcNhbQBSSdBekqw2zT0KEfAYGKao2ojTi6Xnds7zRmE58XuZKEbUeeLUcpNntgl4iz.
# System services
# services --disabled="chronyd"

# System timezone
timezone Europe/Berlin --isUtc --nontp
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

{% if include_user == true and ssh_user != 'root' %}
user --name={{ ssh_user }} 
{% endif %}

reboot

{% if include_user == true %}
{% include 'adduser-ks.cfg' %}
{% endif %}

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
