label rhel7
  kernel rhel7/vmlinuz
  APPEND initrd=rhel7/initrd.img ks=http://{{ server_address }}/pub/ks/rhel7-{{ vm_name }}-{{ def_domain }}.cfg network ksdevice=bootif ks.device=bootif 
  IPAPPEND 2
