default vesamenu.c32
prompt 0
timeout 600

{% if f29 == true %}
{% include 'default-f29.j2' %}

{% endif %}
{% if centos7 == true %}
{% include 'default-centos7.j2' %}

{% endif %}
{% if rhel7 == true %}
{% include 'default-rhel7.j2' %}

{% endif %}
{% if rhel8 == true %}
{% include 'default-rhel8.j2' %}

{% endif %}
{% if coreos_live == true %}
{% include 'default-coreos.j2' %}

{% endif %}

label local
  menu default
  menu label Boot from ^local drive
  localboot 0xffff

