label coreos
  kernel coreos/coreos_production_pxe.vmlinuz
  initrd coreos/coreos_production_pxe_image.cpio.gz
  append coreos.first_boot=1 coreos.config.url=http://{{ server_address }}/pub/coreos-pxe-config.ign  

