lang en_GB
keyboard de-latin1-nodeadkeys
timezone Europe/Berlin --isUtc
rootpw $1$JZG8INIk$JI1HKHHMLhDzxxPuRjIWD/ --iscrypted
#platform x86, AMD64, or Intel EM64T
reboot
url --url http://{{ server_address }}/pub/repos/{{ vm_os }}
bootloader --location=mbr --append="rhgb quiet crashkernel=auto"
zerombr
clearpart --none
autopart
auth --passalgo=sha512 --useshadow
selinux --enforcing
firewall --enabled --ssh
skipx
firstboot --disable
%packages
@standard
%end
