# refer to RFC4758 for possible arch option values
option arch code 93 = unsigned integer 16;

subnet {{ dhcp_server_network }} netmask {{ dhcp_server_mask }} {

range {{ dhcp_server_range_start }}  {{ dhcp_server_range_end }};

authoritative;
default-lease-time 600;
max-lease-time 7200;
ddns-update-style none;

option domain-name-servers {{ dhcp_server_range_nameserver }};
option routers {{ dhcp_server_range_router }};

#if option arch = 00:07 {
#filename "uefi/shim.efi";
#} else {
filename "pxelinux.0";
#}

next-server {{ server_address }};

}

