#version=DEVEL
ignoredisk --only-use=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
graphical
# Keyboard layouts
keyboard --vckeymap=de-nodeadkeys --xlayouts='de (nodeadkeys)'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens3 --ipv6=auto --activate
network  --hostname={{ vm_name }}.{{ def_domain }}

# Use network installation
url --url="http://{{ server_address }}/pub/repos/f29"

# Root password
rootpw --iscrypted $6$SLayWCijSKnw6IiR$ltFE/hezQbq2oi//tVYfV7/uTKrU55.HqMEP7dIhGYCTi6VTSsmqFHQr3Sr2isEt72pw4GjbzudU54sqfpg4e/
# Run the Setup Agent on first boot
firstboot --disable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Berlin --isUtc

{% if include_user == true and ssh_user != 'root' %}
user --name={{ ssh_user }} 
{% endif %}

reboot

{% if include_user == true %}
{% include 'adduser-ks.cfg' %}
{% endif %}

%packages
@^server-product-environment

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

