#version=RHEL8
ignoredisk --only-use=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
graphical
# repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Keyboard layouts
keyboard --vckeymap=de-nodeadkeys --xlayouts='de (nodeadkeys)'
# System language
lang en_US.UTF-8 --addsupport=en_GB.UTF-8

# repos
url --url http://{{ server_address }}/pub/repos/rhel8

# Network information
network  --bootproto=dhcp --device=enp1s0 --ipv6=auto --no-activate
network  --hostname={{ vm_name }}.{{ def_domain }}

# Root password
rootpw --iscrypted $6$cNWYmznGc1Jegi8J$sR4cTn1zefx1KaCsmxTqepSYkvXpwxEXlxeOVQna7iD0pT5VJbwwWzytcq0POmBVbIFCaZOJZYUKqC7jloSDn1
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --disabled="chronyd"
# System timezone
timezone Europe/Berlin --isUtc --nontp

{% if include_user == true and ssh_user != 'root' %}
user --name={{ ssh_user }} 
{% endif %}

reboot

{% if include_user == true %}
{% include 'adduser-ks.cfg' %}
{% endif %}

%packages
@^minimal-environment
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

